<div class="container">
  <h3>What is an address?</h3>
  <p>What is an address? A wallet can generate addresses for users to deposit funds. Each address functions as its own individual account and every address is identified by a long and unique string of random characters.</p>

  <%# WTF?
  An address functions as a unique way of identifying your account as it is a very long string of numbers that are randomly generated. The odds of generating an identical account are XXX. Keep in mind that an address and wallet are not the same thing, as your wallet can manage multiple addresses. %>

  <h4>Transacting:</h4>
  <p>Sending funds to an address functions exactly like modern digital banking in many countries. To send or receive funds, simply copy and paste the unique address number of the recipient (like an IBAN number).</p>

  <%# WTF?
  Transactions to and from an address on the blockchain function very much like shipping a package to a physical address:
  The sender ships a package to a physical address
  -	(The user sends funds to an Ethereum address)
  A fee is charged for shipping and handling costs
  -	(a fee is charged for block space*.)
  3) The shipping data is publicly tracked
    (The data of the transaction amount, date, time, sender, and receiver are public and are permanently stored in “blocks”.)

  *block space on the most trusted blockchains, Bitcoin and Ethereum, is not cheap. Learn more about transaction fees. %>

</div>
