<div class="container">

  <h3>What is blockchain?</h3>

  <p>A blockchain is like network that runs servers located all over the world, where each server stores all transactional data occurring in the network.

    This ensures that the network can not be shut down and because of this, all data on the blockchain is permanent.</p>

  <p>Imagine transactions on the blockchain as like a spread sheet that records all transactions and activity:</p>

  <%# <img src="/ledger.jpg"> %>

  <p>[Date/Time	Sender		Receiver	 Amount	Transaction ID Metadata]</p>


  <%# <p>The blockchain stores all of those transactions permanently on the decentralized network.</p> %>

  <%# <img src="/ledger_as_part_of_network.jpg">

  <p>Same as above image but zoomed out with network</p> %>

</div>


<%# <p><strong>Silly:</strong> WTF is blockchain? Picture this: a global network of servers scattered across the planet, partying like there's no tomorrow. Each server holds the key to all the transactional secrets happening in the network. It's like a never-ending rave where data gets down and funky.</p>
<img src="/party.jpg">
<p>Every time something happens on the blockchain—whether it's sending digital tacos or trading virtual unicorns—it gets recorded in a super cool spreadsheet:</p>
<img src="/ledger.jpg">
<p>[Date/Time	Sender		Receiver	 Amount	Transaction ID]</p>
<p>And the best part? This wild party goes on forever! The blockchain stores all those epic transactions in its groovy decentralized network.</p>
<img src="/ledger_as_part_of_network.jpg">
<p>WTF? Learn more</p> %>
