<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="styles.css">
  <title>Document</title>
</head>
<body>
  Exploring Wallets
  (Coinbase Wallet, Metamask, Trezor)

  MEINE STRATEGIE FÜR EINEN EINFACHEN WEB3-EINSTIEG FÜR KÜNSTLER, DIE NFTS AUSPROBIEREN MÖCHTEN!

  Der Einstieg in web3 ist eine der größten Chancen für Künstler im Jahr 2023! Also lasst uns gleich zur Sache kommen und in Web3 und das Metaverse eintauchen!

  What are the advantages of selling your art or music for crypto? The main advantage is also the biggest risk: gaining exposure to an emerging asset class. The 20 EUR worth of ether someone pays you for your art could be worth multiple times that amount in the future. There are also other opportunities, like air drops, where companies award their early users by giving away a portion of their public assets, which helps decentralizing the project as well as marketing. These airdrops normally range from hundreds to thousands, making it a very lucrative for new users. In fact, no industry has awarded its early adopters like the crypto industry has.

  So, do I recommend that anyone watching this should just jump right into crypto? Absolutely not.

  For those of you who are brand new to crypto, you’re probably wondering: how the hell do I even get crypto? Where can I buy it? How do I store it? We’re gonna go step by step over everything.

  Addresses:
  How transactions function:
  Your crypto assets can be sent and received from an address. This is a long string of numbers and characters. This functions exactly like an e-mail address. Data (or tokens) can be sent or received from it. A crypto wallet can contain many addresses that you, the user, can switch between. You don’t have to memorise your address! Simply copy and paste it. You should always be careful when doing this to be sure you don’t make any mistakes, and there are actually ways to get a custom address in order to have one that’s short and easy to memorize. I will cover these in another video!!



  Zuerst werden wir deine erste Krypto-Wallet einrichten! Dazu brauchen wir ein mobiles Gerät, einen PC oder Mac mit installiertem Chrome oder Brave Browser, einen Stift und ein Stück Papier, und wir müssen ein Konto bei einer Krypto-Börse registrieren!


  1. Öffne deinen Chrome- oder Brave-Browser auf Ihrem PC oder Mac. (Wenn du den Brave-Browser noch nicht hast, empfehle ich dir, ihn auszuprobieren, da er Werbeblocker und Datenschutzfunktionen bietet). Geh zu:
  coinbase.com/wallet und lädt Coinbase Wallet herunter und installiere es in deinem Browser.

  2. Nach dem Download wählt "Neue Wallet erstellen".

  3. Schreibt die Passphrase mit zwölf Wörtern auf. Kopiert sie nicht in die Zwischenablage! Dies ist der Wiederherstellungsschlüssel für alle deine Kryptowährungen. Speichere diese Phrase auf keinen Fall auf einem Computer oder in deinem Notizen auf Ihrem Handy!

  Nachdem du ihn aufgeschrieben hast, notiere ihn noch einmal auf einem separaten Blatt Papier. Auf diese Weise hast du eine Sicherheitskopie. Verliere diese zwölf Worte auf keinen Fall und zeigt sie niemandem! Vergiss es nicht, dass kein Techniker oder Kundendienstmitarbeiter dich jemals nach deiner Passphrase fragen wird, egal unter welchen Umständen!

  Wenn du die Passphrase verlierst, verliere für immer den Zugang zu deinem Guthaben. Sei also sehr sicher und wachsam, wenn du die Passphrase aufschreibst, und tut so, als wärst du James Bond und als wäre dies die Codes für den Start von Atomwaffen! Sei nicht schlampig. Stell sicher, dass man die Wörter lesen kann!

  4. Nachdem du deine Wörter aufgeschrieben hast, wirst du aufgefordert, die Reihenfolge zu überprüfen, um sicherzustellen, dass du nicht alles vermasselt hast. Wählt die Wörter aus, die du aus deiner Startphrase auswählen sollst. Als Nächstes wirst du aufgefordert, ein Passwort für deine Wallet zu erstellen, mit dem du sich bei deinem Coinbase-Desktop-Wallet anmelden kannst.

  Derzeit kannst du auch einen kostenlosen Profilnamen für Coinbase-Wallet-Benutzer anfordern, so dass jeder, den du kennst und der Coinbase-Wallet benutzt, deinen problemlos Geld senden kann. Wählt "claim" (oder “anfordern”, oder was auch immer da steht) und gibt deinen Künstlernamen oder einen anderen Namen deiner Wahl ein.

  Bumm! Glückwunsch, du hast gerade dein erstes Krypto-Wallet erstellt!!

  Wir müssen noch einen letzten Schritt machen, bevor unsere Wallet vollständig eingerichtet ist. Die Coinbase Wallet-App für den Desktop verfügt über eine integrierte Zwei-Faktor-Authentifizierungsfunktion, die du mit deiner mobilen App koppeln müsst, um unbefugte Käufe von deinem Desktop zu verhindern. Wir werden unsere mobile App verwenden, um alle Transaktionen zu bestätigen, die wir auf unserem Desktop durchführen.


  5. Geh zu deinem App Store auf deinem mobilen Gerät und lädt Coinbase Wallet herunter. Stell sicher, dass es sich um die verifizierte, legitime Version handelt! Wählt du "Ich habe bereits eine Wallet". Gibt die zwölf Wörter ein, die du gerade aufgeschrieben hast.


  Und was jetzt? Wir sind fast bereit, unsere erste NFT zu prägen. Das Einzige, was uns noch fehlt, ist etwas Krypto!


  Und “wie zum Teufel komme ich an Kryptowährungen?” Du musst welche kaufen oder jemanden bitten, dir welche zu geben. Du kannst Krypto von einer Börse kaufen. In diesem Fall empfehle ich Coinbase. Du kannst dich auch Kraken oder Bitpanda ansehen. Sei du vorsichtig bei zwielichtigen und kleineren Börsen!

  Warum empfehle ich Coinbase? Weil Coinbase eine sehr seriöse Börse ist und ihre Nutzer über Web3 aufklärt. Wenn du ein Konto erstellst, kannst du kostenlos Krypto verdienen, indem du einige Bildungsaufgaben absolvierst und etwas über Blockchain und Web3-Anwendungen lernst. Es ist ein Gewinn für jeden, der in Krypto einsteigen und etwas darüber lernen möchte. Sie finden all dies, indem du ein Konto auf Coinbase registrierst und zu "Lernen und verdienen" navigierst.
</body>
</html>
