<div class="container">

<h3>What are L2s?</h3>

  <p>Ethereum has additional sublayers built on top of it, commonly called “Layer 2s” or “rollups”.  These function as their own dedicated network on top of Ethereum and enable faster and cheaper transactions than on Ethereum main net. Popular layer 2s are Arbitrum, Optimism, and Polygon.*</p>

  <%# <p>Ethereum main net is expensive. This is because it offers the highest security. Ethereum development has put a large focus on maintaining the highest standard of decentralization and that comes with a price. Many projects choose to build on main net because they want the full security and immutability benefits that Ethereum has to offer; but that doesn’t paint the full picture of the Ethereum ecosystem:</p>

  <p>Ethereum Main Net = Containership network: expensive per shipment, extremely secure, meant for lots of goods per container.

  Layer 2 (Optimism, Arbitrum, etc) = Freight truck network: less expensive per shipment, secure, able to handle quite a lot of goods of medium weight.

  Layer 3 (Coinbase Optimism, ???) = Parcel post network: very cheap, less secure, meant for small goods, lots of small freight.</p> %>

 <p>Choosing which network to use can be overwhelming. The best strategy is to base your decision on what you’re trying to accomplish. If your main wish is to buy and hold ETH, it’s recommended to do that on main net. If you want to explore the Ethereum ecosystem, mint your own NFTs, or just try things out, it is recommended to try transacting on a layer 2 in order to avoid the high fees of Ethereum main net.</p>

  <p>Presently it is not advisable to keep all of your funds on a Layer 2 because these are mostly unfinished products and they lack the same standard of security as Ethereum main net. You can use  an L2 like optimism to mint NFTs, swap tokens, and explore the ethereum ecosystem without overspending on fees. Do not use L2s to store your life’s savings!</p>

  <p>In order to transact on layer 2, you first have to transfer funds there via a bridge! Check out our bridging guides:</p>

<div class="card-container">

    <div class="card">
      <div class="card-content">
        <h5>Arbitrum</h5>
        <ul>
          <li>Coinbase Wallet</li>
          <li>Metamask</li>
          <li>Walletconnect</li>
        </ul>
      </div>
    </div>

    <div class="card">
      <div class="card-content">
        <h5>Optimism</h5>
        <ul>
          <li>Coinbase Wallet</li>
          <li>Metamask</li>
          <li>Walletconnect</li>
        </ul>
      </div>
    </div>

    <div class="card">
      <div class="card-content">
        <h5>zkSync</h5>
        <ul>
          <li>Coinbase Wallet</li>
          <li>Metamask</li>
          <li>Wallet-connect</li>
        </ul>
      </div>
    </div>

    <div class="card">
      <div class="card-content">
        <h5>Polygon</h5>
        <ul>
          <li>Coinbase Wallet</li>
          <li>Metamask</li>
          <li>Walletconnect</li>
        </ul>
      </div>
    </div>

    <div class="card">
      <div class="card-content">
        <h5>HOP</h5>
        <ul>
          <li>Coinbase Wallet</li>
          <li>Metamask</li>
          <li>Walletconnect</li>
        </ul>
      </div>
    </div>

    <div class="card">
      <div class="card-content">
        <h5>Orbiter</h5>
        <ul>
          <li>Coinbase Wallet</li>
          <li>Metamask</li>
          <li>Walletconnect</li>
        </ul>
      </div>
    </div>
  </div>
  
</div>
