<div class="container">

  <h4>What are NFTs?</h4>
  <p>An NFT, or non-fungible token, is a special kind of digital asset. It's like a digital certificate of ownership that proves you own something unique. It could be a piece of art, a video, music, or even virtual real estate. NFTs use blockchain technology to ensure their authenticity and can't be replicated or replaced. They open up exciting opportunities for artists, creators, and collectors in the digital world.</p>
  <p>NFTs are not just art or collectibles. They are unique digital assets that prove ownership and authenticity. But here's the cool part: NFTs can also have special functions thanks to smart contracts. This means they can have royalties, access control, and interactive features. NFTs are a gateway to a world of creativity and new possibilities in the digital realm.</p>

</div>
