<div class="container">

  <h3>What are POAPs?</h3>

  <p>POAP stands for Proof of Attendance Protocol. It's a cool way to commemorate your participation in events. Organizers create digital badges using POAP, and when you attend an event, you can claim a special badge. These badges are like virtual collectibles that represent your attendance. They can also come with additional perks or benefits. So, next time you see a POAP badge, remember it's a symbol of your event participation!</p>

  <%# <p><strong>Silly Version:</strong></p>
  <p>So, imagine you go to this super awesome event, right? And the organizers are like, "Hey, we have something special for you!" They give you a secret code or a fancy link. You enter that code or click the link, and voila! You get a magical digital badge. It's like a virtual trophy that shows off your event attendance skills. And guess what? Some badges even come with hidden surprises. It's like finding a hidden treasure chest full of goodies! So, collect those badges, show them off, and let everyone know you're the king or queen of event attendance!</p>

  <p><strong>Learn more:</strong> Check out the POAP website to dive deeper into the world of digital event badges. Happy collecting!</p>

  <h4>How to claim POAPs</h4>
  <a href="claim_poap"> %>
</div>
