<div class="container">
  <h3>What is quadratic funding?</h3>

  <p>Quadratic funding is like a community-powered supercharger for your contributions.
    It's a fancy math formula that ensures your impact goes beyond what you put in. </p>

     <p>Here's how it works: Imagine you and your friend, let's call them Xander, each contribute some money to a project.
    Now, here's the cool part: the matching pool, filled with contributions from other supporters, kicks in and matches a portion of what you both put in.
    It's like having more people join your team, saying, 'Hey, we're with you, and we'll chip in to make it count!'</p>

     <p>So, let's say you contribute $10 and Xander contributes $5.
    The matching pool says, 'Hold my virtual wallet, let's boost this!' and adds, let's say, $5 to your contribution and $2.5 to Xander's contribution.
    Now, your $10 becomes $15 and Xander's $5 becomes $7.5. It's like a digital multiplier, making your support count even more.</p>

     <p>The matching pool is the secret sauce that makes this happen, fueled by the collective generosity and belief in making a difference together.
    So, together, we can amplify our impact and support projects that matter.</p>
</div>
