<div class="container">

  <h3>What is Web 3?</h3>

  <p>Web 3 is a new era of internet where applications are built on blockchain.<br>
    Blockchain is the technology behind cryptocurrencies like Bitcoin or Ether.<br>
  <%# <h4>WTF?</h4> %>
    The term “web 3” represents a new era of the web.<br>
    In the early days of the internet, users could only access the web from a computer and the user experience was a bit more open and chaotic.<br>
    The second era of the internet was when mega tech firms like Google, Amazon, and Facebook grew their influence and came to dominate the web as we know it.<br>
    Web 3 represents a new era of internet, where the user is in control of all of their data and benefits from digital ownership without third party companies in the middle.<br>
    This could be possible with blockchain technology.<br>
  </p>

</div>
