<main>



  <div class="container">
    <header>
      <h1><strong>BYTEGUIDE</strong></h1>
    </header>

    <img src="https://ethereum.org/static/c48a5f760c34dfadcf05a208dab137cc/d1ef9/eth-diamond-rainbow.png" alt="Ethereum Logo" class="ethereum-logo">
    <%= link_to "WTF is web3?", learn_path, class: "wtf-button" %><br>
    <%= link_to "How do I use web3?", guides_path, class: "wtf-button" %><br>
    <%= link_to "How do I not screw it all up?", best_practices_path, class: "wtf-button" %><br>
  </div>



    <%# <h2>Introduction</h2>
    <p><strong>So you wanna dive into web3.</strong></p>
    <p>The first thing you should know is that this isn’t something for the faint of heart.</p>
    <p>But once you learn more, it's easy to understand why digital ownership could be <em>very powerful</em> and can also come with a lot of fun and exciting opportunities!</p>
    <p><em>But you need to approach this effort responsibly and with caution.</em></p>


    <section>
      <div class="content-container">
        <h3>Why?</h3>
        <ul>
          <li>So your crypto doesn’t get lost.</li>
          <li>So your crypto doesn’t get stolen.</li>
          <li>So you can avoid common mistakes.</li>
          <li>So you can avoid common scams.</li>
        </ul>
      </div>
    </section>




    <h2>Don't get rekt.</h2>
    <p>Many of us who have been in crypto for years share similar stories of getting into it for the fortunes and ending up staying for the tech. That's putting it rather mildly.</p>
    <p>Despite the exciting potential of web3, the crypto industry has suffered a large number of hacks, scams, and exploits.</p>
    <p><strong>As a newcomer to the space, you need to know: it’s not an easy path.</strong></p>
    <p>There are a LOT of risks, and the crypto space can be <em>very unforgiving for mistakes.</em></p>
    <p>That goes for both noobs and vets! Many become interested because they hear rumors about high returns, but then end up losing a lot of money and never coming back.</p>
    <p>But when the smoke clears, the patient remain. <strong>Fortune favors the bold. Are you ready?</strong></p> %>


  </div>
</main>
