<main>

  <div class="container">
    <header>
      <h1>
        <strong>BYTEGUIDE</strong>
      </h1>
    </header>

    <img src="https://ethereum.org/static/4d030a46f561e5c754cabfc1a97528ff/843b6/impact_transparent.png" alt="Ethereum Logo" class="ethereum-logo">
    <%= link_to "WTF is web3?", learn_path, class: "wtf-button" %><br>
    <%= link_to "How do I use web3?", guides_path, class: "wtf-button" %><br>
    <%= link_to "How do I not screw it all up?", best_practices_path, class: "wtf-button" %><br>
  </div>

</main>
