.card {
  background-color: #f6f6f6;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 333px;
  margin: 10px;
  padding: 20px;
  position: relative;
  margin-bottom: 100px; /* Increased vertical spacing */
}

.card img {
  width: 100%;
  height: auto;
  border-radius: 5px;
  margin-bottom: 10px;
}

.card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 16px;
  padding: 16px;
}

.card-content h3 {
  font-size: 18px;
  margin-bottom: 10px;
}

.card-content h4 {
  color: #ff00ff;
  font-size: 18px;
  margin-bottom: 10px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.card-content p {
  font-size: 16px;
  margin-bottom: 10px;
  color: #333;
}

.card li {
  color: #333;
}

.card:hover {
  box-shadow: 0 0 10px 4px rgb(255, 0, 0);
}

.learn-card {
  background-color: #f6f6f6;
  width: 333px;
  border-radius: 5px;
  padding: 20px;
  margin-bottom: 20px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s ease;
  text-align: center;

}

.learn-card:hover {
  box-shadow: 0 0 10px 4px rgb(255, 0, 0);
}

.learn-card a {
  color: #333;
  text-decoration: none;
  font-weight: bold;
}

.wtf-button {
  padding: 10px 20px;
  font-size: 18px;
  background-color: #ff00ff;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 10px;
}

.wtf-button:hover {
  color: 0 0 10px 4px rgb(55, 255, 71);
  box-shadow: 0 0 10px 4px rgb(55, 255, 71);
}

.wtf-buttoncontainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
