<div class="container">
  <div class="author-avatar">
    <img src="https://www.mediafire.com/file/ir8bk46u1d3k3qt/Screenshot+2023-06-19+at+17.33.26.png" alt="CuriousGeorgeCarlin">
  </div>
  <p>By CuriousGeorgeCarlin</p>
  <p>Hey there! It's me, a person on the internet who has never built a game before, telling <strong>you</strong>, a potential game developer or engineer, how to build games.</p>

  <p>I've never built a game before and I've never developed a web3 project. But I am an experienced gamer and web3 citizen who longs to see better games with exciting new features in the future. <em>(Or also right now would be pretty cool...)</em></p>

  <p>Something I wonder about: How are gaming companies supposed to know better than the average Joe what are worthwhile endeavors vs. something that would be waste of time on a topic that is arguably rather niche despite it's past decade of growth in it's own respected industry?</p>

  <p>As a life-long gamer and savvy web3 citizen, I have a few ideas on how I imagine NFTs and web3 features could be successfully integrated in gaming.</p>

  <div class="section">
    <h2>TO GAMING COMPANIES INTERESTED IN INTEGRATING NFTS, <strong>try this:</strong></h2>

    <ul>
      <li>
        <h4>Design the game first without NFTs in mind.</h4>
          <p>This will help developers stay focussed on making games that players will enjoy.
          You can make an NFT for practically anything, so don’t put the cart before the horse.
      </li>

      <li>
        <h4>Don't put NFTs or tokens on the market before releasing the game.</h4>
          <p>Players aren’t interested in a game where it’s obvious that other players have sort of advantage or vested interest because they bought in before the game was released. Additionally, a lot of crypto and web3 companies face scrutiny because of these kinds of practices.</p>
      </li>

      <%# <li>
        <h4>Prioritize security in development.</h4>
        <p>Popularize the use of crypto wallets just by integrating one in your game. Use this chance to st
        integrate Gnosis safe or something similar for players to secure their rare items.</p>
      </li> %>

      <%# <li>
        <h4>A company removing itself from NFT markets would be advantageous in reducing regulatory hurdles, gaining the trust of gamers and skeptics, and still profiting from second-hand sales.</h4>
          <p>If you release a game where players not only have to purchase DLC or special items in order to enjoy the game, but said DLC are NFTs, you’re risking a potential backlash that’s going to make all your hard work invested in integrating this feature in vain.</p>
      </li> %>

      <li>
        <h4>The sky is the limit for what in-game items could be NFTs. Determine which type of integration would be the most worth it, and go from there.</h4>
          <p>As a person who doesn’t always like to overcomplicate things, I have to wonder, should <i>everything</i> really have to be an NFT? Really consider what ideas make actually make sense.</p>

          <p>For example, I think making NFTs of every common item in a game would be overkill and could create a lot of wasted space and bandwith to process such an amount of data for every common game item.  I could also imagine such a task to be very tedious for developers and could end up being a wasted effort if the idea never takes off.</p>

          <p>See Reddit collectable Avatars as an example of how you could integrate unique game items instead. The avatars could have common clothing or hairstyles (non-NFTs) or less common “special” characteristics (NFTs). No matter how you do it, just make the NFTs more special and fun for players!</p>
      </li>

      <li>
      <h4>NFTs of achievements are a no-brainer.</h4>
        <p>Take it from someone who’s played a lot of games on a lot of systems throughout their life and has nothing to show for it. I don’t want achievements that are confined within a walled garden of Steam of X-Box. I want achievements to be my own.</p>
        <p>It would also be cool if I at least had some sort of certificate of the characters + stats from all the open world RPGs I’ve played. For me, most of those moments are gone forever with my X-Box 360 that I sold to my friend Jim in 2014.</p>
      </li>
  </div>

  <p><strong>There’s so much potential here!</strong> But you probably knew that already. 💁‍♂️</p>



</div>
