<div class="container">

  <h2>Best Practices</h2>

  <ul>
    <li><h4><strong>Write down</strong> your seed phrase</h4>
    <p>Never copy it on a clipboard, do not store it in a password vault. Keep it analog and forever away malware that could find it on your device. </p>
    <%# <p>Just write it fucking down, mmkay?</p> %>
    </li>

    <li>
      <h4>Use Hardware Wallets:</h4>
      <p>Keep your crypto assets safe by storing them offline in hardware wallets, which offer robust security measures.</p>
    </li>


    <li><h4>Enable Two-Factor Authentication (2FA):</h4>
      <p>Add an extra layer of protection to your accounts by enabling 2FA, requiring a second verification step for access.</p>
    </li>

    <li><h4>Be Mindful of Phishing:</h4>
      <p>Be cautious of suspicious links, emails, or messages that may lead to phishing attempts. Always double-check the authenticity of websites or platforms before entering your sensitive information.</p>
    </li>

    <li>
      <h4>Secure Your Private Keys:</h4>
      <p>Safeguard your private keys, which grant access to your funds. Keep them offline and avoid sharing them with anyone.</p>
    </li>

    <li>
      <h4>Use Multi-Signature (Multi-Sig) Wallets:</h4>
      <p>Consider using multi-signature wallets that require multiple parties to authorize transactions, enhancing the security of your funds.</p>
    </li>

    <li>
      <h4>Stay Informed:</h4>
      <p>Keep up to date with the latest security practices, news, and developments in the web3 space to adapt and protect yourself against emerging threats.</p>
    </li>
  </ul>


</div>
