<div class="container">
<h3>Blog</h3>


  <div class="author-avatar">
    <img src="https://www.mediafire.com/file/ir8bk46u1d3k3qt/Screenshot+2023-06-19+at+17.33.26.png" alt="CuriousGeorgeCarlin">
  </div>
  <a href="<%= curiousgeorgecarlin_path %>">
      <h6>TO GAMING COMPANIES INTERESTED IN INTEGRATING NFTS</h6>
  </a>
<p>By CuriousGeorgeCarlin</p>
</div>
