<div class="container">
  <a href="<%= curiousgeorgecarlin_path %>">

      <div class="author-avatar">
        <img src="https://i.seadn.io/gcs/files/dab932515543736d6cd4e532b65412f2.png?auto=format&dpr=1&w=3840" alt="CuriousGeorgeCarlin">
      </div>
      <h4>CuriousGeorgeCarlin</h4>
  </a>
</div>
