<div class="container">

  <h3>FAQ</h3>
    <h4>WTF is Web3?</h4>
    <p>Web3 refers to the next evolution of the internet, where decentralized technologies like blockchain are used to create a more open, transparent, and user-centric online ecosystem.
      It aims to empower individuals by giving them more control over their data, assets, and digital interactions.</p>
<br>
  <%# <h4>How do I buy ETH?</h4>
  <ol>
    <li>Choose a cryptocurrency exchange or a brokerage platform.</li>
    <li>Create an account and complete the verification process.</li>
    <li>Link your bank account or payment method to the exchange.</li>
    <li>Choose the cryptocurrency you want to buy.</li>
    <li>Enter the desired amount and review the transaction details.</li>
    <li>Confirm the purchase and wait for the transaction to be completed.</li>
    <li>The purchased crypto will be credited to your exchange account.</li>
    <li>You can then manage, trade, or transfer your crypto as desired.</li>
    <li>Remember to consider factors like security, fees, and user experience when selecting an exchange.</li>
    <li>Always store your crypto in a secure wallet to keep it safe.</li>
  </ol> %>

<br>
<br>
  <h4>I received tokens from someone I don't know.</h4>
  <p>If you receive tokens from someone you don't know or weren't expecting, it's important to proceed with caution.
    In the world of Web 3, there are scammers who may try to trick you into making harmful transactions.
    Treat these unexpected tokens like suspicious gifts from strangers.
    It's best to mark them as spam and avoid interacting with them.
    Be vigilant and don't fall for any tricks that could compromise your wallet or personal information.</p>
<br>
    <!-- <h1>I received tokens from someone I don't know. What do?</h1>
  <p>Oh, oh! You've stumbled upon some mysterious tokens sent by an unknown sender, like a surprise package from a secret admirer!
    But hold your horses, brave explorer!
    In the wild world of Web 3, there are mischievous tricksters who might be up to no good.
    Think of these unexpected tokens as curious creatures crossing your path.
    Treat them with caution, like a magical forest encounter.
    To stay safe, keep your shield of skepticism up and mark them as spam.
    Avoid any suspicious quests that could lead you astray.
    Stay vigilant, intrepid adventurer!</p> -->
<br>
  <h4>How do I keep my crypto safe?</h4>
  <p>Keeping your crypto safe is essential, and here are three key steps to protect it:</p>
    <ul>
      <li><strong>Use a hardware wallet:</strong> A hardware wallet is a special device that securely stores your crypto offline. It keeps your private keys isolated from the internet, making it highly resistant to hacking attempts.</li>
      <li><strong>Enable two-factor authentication (2FA):</strong> Activate 2FA wherever possible. It adds an extra layer of security by requiring you to provide a second verification code, usually from your mobile device, along with your password when accessing your crypto accounts.</li>
    <li><strong>Consider multi-signature (multi-sig) wallets:</strong> Multi-sig wallets require multiple signatures to authorize transactions. It means that more than one person needs to approve a transaction, adding an extra layer of security against unauthorized access.</li>
  </ul>
  

</div>
