<div class="container">
  <h4>Content coming soon . . .</h4>
  <p>For now, why don't you just create a <a href="https://coinbase.com/signup">Coinbase account</a>, where you can learn about web3 and <a href="https://www.coinbase.com/learning-rewards">earn free crypto!</a></p>
</div>
