<div class="container">
  <h3>Common Red Flags</h3>

  <ul>
    <li class="no-style">
      <h4>🚩Unusual information requests:</h4>
        <p>Be wary of anyone asking for your password or seed phrase.</p></li>
          <br>
    <li class="no-style">
      <h4>🚩Unrealistic promises:</h4>
        <p>Watch out for projects guaranteeing excessively high returns.</p>
    </li>
          <br>
    <li class="no-style">
      <h4>🚩Anonymous or unverified teams:</h4>
        <p>Investigate projects with transparent and reputable teams.</p>
    </li>
          <br>
    <li class="no-style">
      <h4>🚩Lack of transparency:</h4>
        <p>Look for clear roadmaps, financial disclosures, and audits.</p>
    </li>
<br>
    <li class="no-style">
      <h4>🚩Early token launches:</h4>
        <p>Be cautious of projects launching tokens before demonstrating value.</p>
    </li>
          <br>
    <li class="no-style">
      <h4>🚩Missing fundamentals:</h4>
        <p>Evaluate the technology, real-world use cases, and market demand.</p>
    </li>
          <br>
    <li class="no-style">
      <h4>🚩Inactive communities:</h4>
        <p>Engage with projects that have active and engaged communities.</p>
    </li>
          <br>
    <li class="no-style">
      <h4>🚩Unfair token distribution:</h4>
        <p>Check for fair distribution and avoid projects with concentrated holdings.</p>
    </li>
          <br>
    <li class="no-style">
      <h4>🚩Unverified smart contracts:</h4>
        <p>Interact with audited and verified smart contracts from reputable sources.</p>
    </li>
          <br>
    <li class="no-style">
      <h4>🚩Inadequate documentation:</h4>
        <p>Look for projects with comprehensive and clear documentation.</p>
    </li>
  </ul>
</div>
